body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}


nav .header{
  display: inline-block;
  width: 100%;
  text-align: middle;
  margin-top: 1%;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#about {
  margin: 2%;
  color: black;
}

#store {
    margin-right: 4px;
}

#gmail {
    margin-left: 75%;
    margin-right: 4px;
}

#images {
    margin: 0px 4px 0px 4px;
}

#apps {
    margin: 0px 8px 0px 4px;
}

.button-apps {
    background-image: url(https://i.imgur.com/9JAcYhG.png);
    width: 30px;
    height: 30px;
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    -webkit-appearance: none;
}

img #acct {
    margin: 0px 4px 0px 0px;
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 15%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    margin-top: 25px;
    padding: 13px;
    border-style: solid;
    border-color:  #eaeaea;
    border-radius: 40px;;

}

.searchwrap {
    position: relative;
    display: flex;
    min-width: 100px;
}


#searchbar_img {
    position: absolute;
    top: 380px;
    left: 360px;
    width: 20px;
}

#micbar_img {
    position: absolute;
    top: 380px;
    left: 870px;
    width: 16px;
}


.underbar {
    display: inline-block;
    align-content: center;
    margin-left: 37%;
    margin-top: 2%;
}
.icon {
    border-radius: 50%;
    height: 30px;
}

.button {
    text-align: center;
    margin-top: 20px;
    margin-left:  5px;

}

#googlesearch {
    border-color: #c0c0c0;
    border-style: hidden;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: #f8f9fa;
    margin: 0px 10px;
    display: inline-block;
}
#imfeelinglucky {
    border-color: #c0c0c0;
    border-style: hidden;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    background-color: #f8f9fa;
    margin: 0px 4px;
                                                        
}
.footer {
    display: inline-block;
    width: 100%;
    text-align: start;
    margin-top: 13%;
    margin-right: 0px;
    background-color: rgb(235, 235, 235);
    padding: 30px;
    position: static;
    bottom: 0px;
}

#advertising {
    margin: 0px 8px 0px 0px;
    padding: 0px 2px 0px 6px;
}

#business {
    margin: 0px 8px 0px 0px;
    padding: 0px 2px 0px 6px;
}

#searchworks {
    margin: 0px 8px 0px 0px;
    padding: 0px 2px 0px 6px;
}

#privacy {
    margin-left: 50%;
    margin-right: 8px;
    padding: 0px 2px 0px 6px;
}

#terms {
    margin: 0px 8px 0px 0px;
    padding: 0px 2px 0px 6px;
}

#settings {
    margin: 0px 8px 0px 0px;
    padding: 0px 2px 0px 6px;
}